:root{
    --fondo_blanco:#fff;
    --fondo_medio:#E5E5E5;
    --fondo_oscuro:#EAF2FD;
    --azul:#2A7AE4;
    --titulos:#464646;
    --placeholder:#A2A2A2;
    --letras:'Raleway',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--letras);
}
.star_btn , .consola_btn, .diversos_btn{
    width: 100%;
    max-width:150px;
}
.btn_agregar{
    min-width: 94px;
}
section{
    background: var(--fondo_oscuro);
}
placeholder{
    color: var(--placeholder);
}
/* .card{
    width: 510;
    margin:.5rem;
} */
/* .card img{
    width: 100%;
} */